/*
(c) Copyright 2009 iOpus Software GmbH - http://www.iopus.com
*/

/* styles for editor */

body {
    margin: 0px !important;
    padding: 0px !important;
}

/* #textarea { */
/*     margin: 0px !important; */
/*     width: 100% !important; */
/*     height: 95% !important; */
/*     border: 1px solid red !important; */
/* } */
